
5. 更新 .gitignore 文件，移除 v2 相关内容：

```plaintext:%2FUsers%2Fdurgin%2Fworkspace%2Fsource%2Ftabtoy%2F.gitignore
.idea
*.exe
*.suo
*.user
*~
v3/example/lua/*.dll
v3/example/csharp/.vs
v3/example/csharp/TabtoyExample/obj
v3/example/csharp/TabtoyExample/bin
v3/example/java/.gradle
v3/example/java/.idea
v3/example/java/build
v3/example/java/.project
v3/example/java/.settings/org.eclipse.buildship.core.prefs
v3/example/binary/*.bin
*.zip
*.gz
tabtoy
*.pbb
*.
*.DS_Store
protoc
~*.xlsx