
5. 更新 .gitignore 文件，移除 v2 相关内容：

```plaintext:%2FUsers%2Fdurgin%2Fworkspace%2Fsource%2Ftabtoy%2F.gitignore
.idea
*.exe
*.suo
*.user
*~
example/lua/*.dll
example/csharp/.vs
example/csharp/TabtoyExample/obj
example/csharp/TabtoyExample/bin
example/java/.gradle
example/java/.idea
example/java/build
example/java/.project
example/java/.settings/org.eclipse.buildship.core.prefs
example/binary/*.bin
*.zip
*.gz
tabtoy
*.pbb
*.
*.DS_Store
protoc
~*.xlsx
*.idea
